* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 10px 0;
}

.like-btn {
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.liked-images-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.best-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all 0.3s;
}

.best-img:hover {
    transform: scale(1.05);
}

.img-box {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.356);
}

.like-btn {
    position: absolute;
    z-index: 1000;
    right: 0;
    bottom: 0;
    margin-bottom: 5px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.active {
    color: rgba(255, 10, 10, 0.662);
}

.modal-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.modal-img {
    max-width: 100%;
    border-radius: 10px;
}

.like-btn {
    margin-top: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.loading-overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}